/* smooth scrolling styles */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

#homeSection,
#serviceSection,
#improvementSection,
#faqSection,
#consultantSection {
  scroll-margin-top: 3rem;
}

/* font styles */
.font-inter {
  font-family: "Inter", sans-serif;
}
.font-koulen {
  font-family: "Koulen", sans-serif;
}
.font-bebas {
  font-family: "Bebas Neue", sans-serif;
}

.bg-custom-dark-blue {
  background-color: #0f1150 !important;
}

.bg-custom-very-light-gray {
  background-color: #f9f9f9 !important;
}

.bg-custom-light-gray {
  background-color: #f2f2f2 !important;
}

.text-custom-dark-blue {
  color: #36398e !important;
}

.banner {
  background: url(./assets/background-rows.png) no-repeat center center/cover;
  margin-top: 10rem;
}

#banner-text {
  width: 35%;
}

.logo {
  width: 35px;
}
.logo-2 {
  width: 35px;
}

/* margins between sections */

#footerSection {
  margin-top: 10rem;
}

#footerSection2 {
  margin-top: 10rem;
}
