/* smooth scrolling styles */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

#homeSection,
#serviceSection,
#improvementSection,
#faqSection,
#consultantSection,
#insuranceSection,
#compassionateSection {
  scroll-margin-top: 3rem;
}

/* font styles */
.font-inter {
  font-family: "Inter", sans-serif;
}
.font-koulen {
  font-family: "Koulen", sans-serif;
}
.font-bebas {
  font-family: "Bebas Neue", sans-serif;
}

.bg-custom-dark-blue {
  background-color: #0f1150 !important;
}

.bg-custom-very-light-gray {
  background-color: #f9f9f9 !important;
}

.bg-custom-light-gray {
  background-color: #f2f2f2 !important;
}

.text-custom-dark-blue {
  color: #36398e !important;
}

.banner {
  background: url(./assets/background-rows.png) no-repeat center center/cover;
  margin-top: 10rem;
}

#banner-text {
  width: 35%;
}


.logo {
  width: 35px;
}
.logo-2 {
  width: 35px;
}
.insurance-image{
    width: 50px;
}
.compassionate-image{
    width: 30%;
    height: 100%;
}

/* margins between sections */
#compassionateSection{
    margin-top: 15rem;
}

#consultantSection{
    margin-top: 15rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#insuranceSection{
    margin-top: 15rem;
}

#faqSection {
  margin-top: 15rem;
}

#footerSection {
  margin-top: 15rem;
}

#footerSection2 {
  margin-top: 10rem;
}
