html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.font-koulen {
  font-family: "Koulen", sans-serif;
}
.font-bebas {
  font-family: "Bebas Neue", sans-serif;
}

.bg-custom-dark-blue {
  background-color: #0f1150 !important;
}

.text-custom-dark-blue {
  color: #36398e !important;
}

.banner {
  background: url(./assets/background-rows.png) no-repeat center center/cover;
  margin-top: 10rem;
}

#banner-text {
  width: 35%;
}

.logo {
  width: 35px;
}
